<div class="container" id="page-redirect">
	<div class="not-found">
		<img src="{{resources}}not-found.png" alt="">
		<div>
			<h2>Upss! P&aacute;gina no disponible</h2>
			<p>Lo sentimos, la url que has ingresado no se encuentra disponible por alguna de las siguientes opciones:</p>
			<br>
			<ul>
				<li>P&aacute;gina no encontrada.</li>
				<li>Espacio sin permisos de administrador.</li>
				<li>P&aacute;gina en mantenimiento.</li>
				<li>Respuesta tard&iacute;a del servidor.</li>
				<li>Falla en tu conexi&oacute;n a internet.</li>
				<li>Otros inconvenientes</li>
			</ul>
			<br>
			<p>Te invitamos a regresar a la p&aacute;gina principal de <a class="p-enlace" [routerLink]="['/home']">Zoo</a></p>
			<a class="btn-default" [routerLink]="['/home']">P&aacute;gina principal de Zoo</a>
		</div>
	</div>
</div>