<div class="margin-header"></div>
<div class="container">
	<form id="form-edit-avatar" #editAvatar="ngForm" (ngSubmit)="submitChangeAvatar()">
		<div class="header-profile">
			<div>
				<div class="avatar">
					<div class="hover-avatar" (click)="selectAvatar()">
						<p>Cambiar avatar</p>
					</div>
					<img src="{{dbImages + user.image}}" alt="Icono de usuario" class="icon-user">
					<input id="avatar-user" type="file" class="hidden" (change)="fileChange($event)">
				</div>
				<div>
					<div>
						<h1>{{loguedUser.name + ' ' + loguedUser.surname}}</h1>
						<div>
							<span id="info-avatar" class="fa fa-info tooltip"></span>
							<p class="tooltip-content">
								Para una mejor visualizaci&oacute;n de tu avatar sin distorsi&oacute;n, te recomendamos usar imagenes de 120 x 120px o medidas proporcionales.
								<br><br>
								Adem&aacute;s solo se aceptan archivos de tipo &quot;jpg&quot;, &quot;jpeg&quot;, &quot;png&quot; y &quot;gif&quot;.
							</p>
						</div>
					</div>
					<div class="avatar-edit" *ngIf="avatarEdit">
						<input class="btn-default" type="submit" value="Subir avatar">
						<p>Tu nuevo avatar espera ser subido</p>
					</div>
				</div>
			</div>
			<div>
				<h4>Editar mi perf&iacute;l</h4>
				<span (click)="showEdit()" title="Editar mi perf&iacute;l" id="edit-profile" class="fa fa-pencil"></span>
			</div>
		</div>
	</form>
	<form id="form-edit-profile" #editProfile="ngForm" (ngSubmit)="updateProfile()">
		<div class="body-profile">
			<label for="edit-name">
				<span>Nombre(s):</span>
				<input id="edit-name" type="text" class="iptText" name="name" #name="ngModel" [(ngModel)]="user.name" data-validate="true" readonly>
			</label>
			<label for="edit-surname">
				<span>Apellidos (o solo el primero):</span>
				<input id="edit-surname" type="text" class="iptText" data-validate="true" name="surname" #surname="ngModel" [(ngModel)]="user.surname" readonly>
			</label>
			<label for="edit-email">
				<span>Email:</span>
				<input id="edit-email" type="text" class="iptEmail" name="email" #email="ngModel" [(ngModel)]="user.email" readonly>
			</label>
			<label for="edit-genero">
				<span>Género:</span>
				<div class="dropdown" id="edit-drop-gender">
					<input (click)="dropToggle($event)" id="edit-gender" class="drop-toggle" type="text" name="gender" #gender="ngModel" [(ngModel)]="user.gender" readonly>
					<span class="fa fa-chevron-down"></span>
					<ul *ngIf="userEdit" class="drop-list">
						<li class="drop-item" data-value="M">Masculino</li>
						<li class="drop-item" data-value="F">Femenino</li>
					</ul>
				</div>
			</label>
			<div *ngIf="userEdit">
				<button type="button" class="btn-cancel" (click)="showAlertModal()">Cancelar</button>
				<input class="btn-default" id="updateUserSubmit" type="submit" data-validate="true" value="Actualizar">
			</div>
		</div>
	</form>
</div>

<modals [user]="user" (refreshUser)="refreshUser($event)" (refreshUserEdit)="refreshUserEdit($event)"></modals>