<header id="header-web">
	<div class="cont-header container">
		<div>
			<a [routerLink]="['/home']"><img src="{{resources}}zoo-brand-white.png" alt=""></a>
			<span *ngIf="localUser && !loguedUser" class="user">Bienvenido, {{localUser}}<i (click)="removeUser()" class="fa fa-times"></i></span>
			<span *ngIf="loguedUser" class="user">Bienvenido(a), {{loguedUser.name + ' ' + loguedUser.surname}}</span>
		</div>
		<ul class="menu">
			<li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a></li>
			<li><a [routerLink]="['/animales']" [routerLinkActive]="['active']">Animales</a></li>
			<li><a [routerLink]="['/cuidadores']" [routerLinkActive]="['active']">Cuidadores</a></li>
			<li><a [routerLink]="['/tienda']" [routerLinkActive]="['active']">Tienda</a></li>
			<li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a></li>
			<li *ngIf="!loguedUser"><a id="show-login" href="#usuario">Iniciar sesión / Registro</a></li>
			<li *ngIf="loguedUser" class="logued-user" (mouseleave)="hideUserOption()">
				<a href="#" id="logued-user" (mouseover)="showUserOption()">{{loguedUser.name}}<img src="{{resources}}user-icon.png"></a>
				<ul class="user-option">
					<li>
						<a class="option-submenu" href="">
							<span class="letter-icon">{{letterIcon}}</span>
							<span>
								<span>{{loguedUser.name + ' ' + loguedUser.surname}}</span>
								<br>
								<span class="logued-mail">{{loguedUser.email}}</span>
							</span>
						</a>
					</li>
					<li><a [routerLink]="['/perfil']" href="" class="option-submenu"><span class="fa fa-user-o"></span>Mi perf&iacute;l</a></li>
					<li><a (click)="logOut()" href="" class="option-submenu"><span class="fa fa-sign-out"></span>Cerrar sesión</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>

<login-register id="usuario"><div></div></login-register>

<router-outlet id="router-outlet"></router-outlet>