<h2>Agregar datos de animales</h2>

<form id="form-add">
	<div>
		<label>
			<input type="text" placeholder="Nombre del animal">
		</label>
		<div class="dropdown">
			<div class="drop-toggle"><span>Seleccione un año </span><i class="fa fa-caret-down"></i></div>
			<ul class="drop-list">
				<li class="drop-item" data-value="Seleccione un año">Seleccione un año</li>
			</ul>
		</div>
	</div>
	<label>
		<textarea placeholder="Descripción"></textarea>
	</label>
	<input type="submit" value="Agregar">
</form>