<h2>{{title}}</h2>

<form #addForm="ngForm" id="form-add" (ngSubmit)="saveAnimal(addForm)">
	<div class="data-add">
		<label>
			<input name="name" #name="ngModel" [(ngModel)]="animal.name" type="text" placeholder="Nombre del animal *">
		</label>
		<div class="dropdown">
			<label class="drop-toggle">
				<input id="year" type="text" placeholder="Seleccione un a&ntilde;o" readonly>
				<i class="fa fa-caret-down"></i>
			</label>
			<ul class="drop-list">
				<li class="drop-item" data-value="0">Seleccione un a&ntilde;o</li>
			</ul>
		</div>
	</div>
	<label>
		<textarea id="description" name="description" #description="ngModel" [(ngModel)]="animal.description" placeholder="Descripción"></textarea>
	</label>
	<div *ngIf="animal.name" class="image-add">
		<div class="animal-image">
			<span *ngIf="!animal.image">Sin imagen</span>
		</div>
		<div>
			<p class="info">
				<span class="fa fa-info-circle"></span>
				<span>Para una mejor visualizaci&oacute;n de tu avatar sin distorsi&oacute;n, te recomendamos usar imagenes de 120 x 120px o medidas proporcionales. Adem&aacute;s solo se aceptan archivos de tipo &quot;jpg&quot;, &quot;jpeg&quot;, &quot;png&quot; y &quot;gif&quot;.</span>
			</p>
			<button class="btn-default" type="button">Cargar imagen</button>
			<span *ngIf="fileName" class="file-name">{{fileName}}<i class="fa fa-times"></i></span>
		</div>
		<input id="animal-image" class="hidden" type="file" (change)="fileChange($event)">
	</div>
	<div class="submit">
		<input class="btn-default" type="submit" value="Agregar">
	</div>
</form>

<modals-admin [status]="status"></modals-admin>